.banner-img-1{
     background-image: url(../images/carousel/1.jpg);
     height: 100vh;
}
.banner-img-2{
     background-image: url(../images/carousel/2.jpg);
     height: 100vh;
}
.banner-img-3{
     background-image: url(../images/carousel/3.jpg);
     height: 100vh;
}
.img-item{
     width: 150px;
}